:host {
  display: grid;
  grid-template-columns: 112px 1fr;
  column-gap: 24px;
  align-items: center;
}

.profile-img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.profile-names {
  text-align: left;
}
