@if (profile$ | async; as profile) {
<header class="profile-page__header">
  <app-profile-header [profile]="profile"></app-profile-header>

  <a class="btn-filled to-setting-btn" [routerLink]="['/settings']">
    Редактировать
    <svg icon="settings" class="to-setting-icon"></svg>
  </a>
</header>

<main class="profile-page__body">
  <section></section>

  <aside>
    <div class="mb-32">
      <h3 class="h6 mb-16">Подписчики</h3>
      <div class="subscribers-wrapper">
        @for (subscriber of subscriber$ | async; track subscriber.id) {
        <a class="subscriber-btn" [routerLink]="['/profile', subscriber.id]">
          <img
            class="subscriber-img"
            [src]="subscriber.avatarUrl | imgUrl"
            [alt]="subscriber.username"
          />
        </a>
        }
        <a class="to-subscribers-search" [routerLink]="['/search']"> </a>
      </div>
    </div>

    <div class="mb-32">
      <h3 class="h6 mb-16">Навыки</h3>
      <div class="stack-wrapper">
        @for (skill of profile.stack; track skill) {
        <div class="skill-tag">{{ skill }}</div>
        }
      </div>
    </div>

    <div>
      <h3 class="h6 mb-16">О себе</h3>
      <p class="medium-text">{{ profile.description }}</p>
    </div>
  </aside>
</main>
}
