<app-profile-header></app-profile-header>

<form class="profile-form__wrapper" [formGroup]="form">
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label">
        <span class="tt-form-label__text">Имя</span>

        <input
          placeholder="Введите данные"
          type="text"
          class="tt-form-input"
          formControlName="firstName"
        />
      </label>

      <label class="tt-form-label">
        <span class="tt-form-label__text">Фамилия</span>

        <input
          placeholder="Введите данные"
          type="text"
          class="tt-form-input"
          formControlName="lastName"
        />
      </label>
    </div>

    <label class="tt-form-label">
      <span class="tt-form-label__text">Telegram username</span>

      <input
        placeholder="Введите ник telegram"
        type="text"
        class="tt-form-input"
        formControlName="username"
      />
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">О себе</span>

      <textarea
        placeholder="Введите данные"
        formControlName="description"
        class="tt-form-input tt-textarea"
        rows="4"
      ></textarea>
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label__text">Навыки (стэк)</span>

      <input
        formControlName="stack"
        placeholder="Введите данные"
        type="text"
        class="tt-form-input"
      />
    </label>
  </div>

  <div class="tt-form-btn__wrapper">
    <div class="tt-form-btns">
      <a class="btn-outline" routerLink="/profile/me">Отмена</a>
      <button class="btn-filled" (click)="onSave()">Сохранить</button>
    </div>
  </div>
</form>
